:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --gris: #EAE6E0;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--blanc);
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrap_header {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  display: flex;
  padding: 1rem 0;
  background-color: var(--blanc);
  height: 80px;
  .button_box ul {
    display: flex;
    gap: 3rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}

.logo_box a {
  display: flex;
  align-items: center;
}

.logo_box img {
  width: 75px;
}

.logo_box p {
  font-family: 'Plant';
  font-size: 3rem;
  color: black;
}

.Axel403{
  padding: 15rem;
}
.axel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: wiggle 2s linear infinite;
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  border: none;
  border-radius: 0 0 0.2em 0.2em;

  img{
    max-height: 50%;
    max-width: 50%;
  }

  #colophon {
    color: var(--blanc);
    padding: 1rem 0;
    text-align: center;
    height: 60px;
  a{
    color: var(--blanc);
  }
  }

  @font-face {
    font-family: 'Plant';
    src: url('../../../public/asset/font/Plant.ttf') format('truetype');
  }

  @font-face {
    font-family: 'attache';
    src: url('../../../public/asset/font/attache.ttf') format('truetype');
  }

  ul, ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #FCFBFE;
  }

  .wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .wrapListing{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }

  .container {
    min-height: calc(100vh - 220px);
  }
  img {
    width: 100%;
  }


  #listingPro{
    margin: 2rem 0;
    .wrapListing{
      .onePro{
        position: relative;
        width: 100%;max-width: 500px;
        height: 100px;
        padding: .5rem;margin: 0 auto;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        border-top: black 2px solid;
        .img{width: 75px;height: 75px;background-color: black;border-radius: 50%}
        .infosPro{
          width: 100%;max-width: 350px;
          h1{font-size: 1.5rem}
          .role{font-size: .7rem;color: grey;padding-left: .5rem}
          .competence{font-size: .85rem;max-width: 300px}
          .single{
            color: red;background-color: white;
            position: absolute;
            right: .5rem;
            bottom: .5rem;
          }
          .single:hover{
            color: orangered;
          }
        }
      }
      .onePro:nth-child(2n+1){
        background-color: #ffdfaa;
        .single{
          background-color: #ffdfaa;
        }
      }
    }
  }



  .gogo p {
    font-family: 'Plant';
    font-size: 3rem;
  }

  .navigationes {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

  }
  .navigationes ul {
    display: flex;
    gap: 15px;
    justify-items: center;
    align-items: center;
  }
  .logogo {
    width: 10vh;
  }
  .gogo {
    display: flex;
  }
  #mini-bar {
    display: none;
  }

  .appointments-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    scroll-behavior: inherit;
  }

  .appointments-container::-webkit-scrollbar { width: 0 !important }


  .appointment-card {
    flex: 0 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
  }

  .appointment-header {
    background-color: #44B9DA;
    color: white;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .appointment-info {
    padding: 8px;
    display: flex;
    align-items: center;
  }

  .appointment-footer {
    padding: 8px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .profile-pic {
    border-radius: 70%;
    margin-right: 8px;
    width: 50px;
  }
  .infos {
    width: 41%
  }
  .love h3 {
    font-weight: normal;
    font-family: 'attache';
    font-size: 1.4rem;

  }

  .love h1 {
    margin-bottom: .2rem;
  }
  .love {
    width: 47%;

  }
  .index{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .button {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #FDE249;
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
  }

  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }

  .bell path {
    fill: rgb(19, 19, 19);
  }

  .button:hover {
    background-color: #44B9DA;
    transition-duration: .5s;
  }

  .button:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }

  .button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }


  .card {
    font-family: 'Arial', sans-serif;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .card-image-container {
    background-color: #FDE249;
    padding: 20px;
    position: relative;
    text-align: center;
    clip-path: ellipse(70% 60% at 50% 20%);
  }

  .card-image {
    width: 100px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #fff;
    position: relative;
    top: 50px;
    transform: translateY(-30%);
  }

  .card-content {
    padding: 20px;
    text-align: center;
    color: #333;
  }

  .card-content h2 {
    margin-bottom: 10px;
  }

  .card-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .card-button {
    display: inline-block;
    text-decoration: none;
    background-color: #FDE249;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .card-button:hover {
    background-color: #003d99;
  }

  .card {
    display: none;
  }

  .card2 {
    font-family: 'Arial', sans-serif;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .card-image-container2 {
    background-color: #44B9DA;
    padding: 20px;
    position: relative;
    text-align: center;
    clip-path: ellipse(70% 60% at 50% 20%);
  }

  .card-image2 {
    width: 100px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #fff;
    position: relative;
    top: 50px;
    transform: translateY(-30%);
  }

  .card-content2 {
    padding: 20px;
    text-align: center;
    color: #333;
  }

  .card-content2 h2 {
    margin-bottom: 10px;
  }

  .card-content2 p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .card-button2 {
    display: inline-block;
    text-decoration: none;
    background-color: #44B9DA;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .res
  {
    text-align: left;
    margin-left: 1rem;
    font-size: .8rem;
  }

  .card-button2:hover {
    background-color: #003d99;
  }

  .card2 {
    display: none;
  }


  @media screen and (max-width: 500px) {
    .appointments-container {
      flex-wrap: nowrap;
      gap: 8px;
    }
    .card {
      display: block;

    }
    .card2{
      display: block;
    }

    .appointment-card {
      width: calc(100% - 32px);
    }
  }

  @media screen and (max-width: 822px){
    .infos {
      display: none;
    }
    .index {
      padding: 2rem;
    }
    .love {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .love h1 {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 500px) {
    #masthead-par {
      display: none;
    }
    #mini-bar {
      display: block;
    }
    .mini {
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      -webkit-box-shadow: 0px -5px 16px -2px rgba(0,0,0,0.13);
      box-shadow: 0px -5px 16px -2px rgba(0,0,0,0.13);
      z-index: 50;
      background-color: white;
    }

    .dash {
      width: 12%;
      border-top: solid white 2px;
    }
    .dash:hover {
      border-top: solid blue 2px;
    }
    .imgo {

    }
    .alert {
      width: 2vh;
      position: absolute;
      top: 4px;
      right: 6px;
      background-color: red;
      border-radius: 5px;
    }
    .desc{
      font-size: .6rem;
      font-weight: bolder;
      display: flex;
      align-content: center;
    }
    .love h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .love h1 {
      font-size: 1.5rem;
    }
  }

}

.header_button {

  position: relative;
  font-family: attache;
  background-color: #7dc7fc;
  width: 145px;
  height: 43px;
  font-size: 1.7rem;
  font-weight: normal;
  color: #181818;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  transition: .5s;

          svg{
            display: none;
        }
}

.header_button2 {
  position: relative;
  font-family: attache;
  background: var(--blanc);
  width: 145px;
  height: 43px;
  font-size: 1.7rem;
  font-weight: normal;
  color: #181818;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
  transition: .5s;
                    svg{
                      display: none;
                    }
}

.header_button:hover {
  background-color: #91d0fd;
}

.header_button2:hover {
  background-color: #f3f3f3;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 11px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

.footer-container{
  max-width: 1170px;
  margin:auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer{
  margin-top: 5rem;
  background-color: #333333;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #FDE249;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: darkgrey;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #44B9DA;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #44B9DA;
}

@media screen and (max-width: 375px)
{
  .logo_box p {
    font-size: 2rem;
  }
  #masthead .button_box ul {
    gap: 1rem;
  }
  .header_button {

    background-color: #7dc7fc;
    width: 70px;
    height: 40px;
    font-size: 1rem;
  }
  .header_button2 {

    width: 70px;
    height: 40px;
    font-size: 1rem;
  }
  .logo_box img {
    width: 50px;
  }

}
