.wrap2 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.titre{
  h1,h2{
    text-align: center;
    margin-top: 5rem;
  }
}

#listeEnfant{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0 4rem;
  .enfant{
    margin-top: 3rem;
    padding: 1rem;
    width: 48%;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    .name{
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .age{
      text-align: center;
    }
    .picto{
      ul{
        display: flex;
        justify-content: space-between;
        li{
          a{
            font-size: 2rem;
            color: #44B9DA;
            transition: color 0.3s;
          }
          a:hover{
            color: #FDE249;
          }
        }
      }
    }
    .boutton{
      margin-top: 1rem;
      p {
        width: 100%;
        a {
          background-color: #44B9DA;
          color: white;
          display: flex;
          justify-content: center;
          padding: 1rem 0;
          border-radius: 5px;
          transition: background-color 0.3s;
        }
        a:hover{
          background-color: #FDE249;
        }
      }
    }
  }
}
.ajouter, .ajouterResponse{
  display: flex;
  justify-content: right;
  margin-bottom: 3rem;
  p{
    a{
      color: white;
      font-size: 2rem;
      padding: 1rem 1.3rem;
      border-radius: 100%;
      background-color:#44B9DA;
      transition: all 0.5s;
      border: 4px solid #44B9DA ;
    }
    a:hover{
      color:#44B9DA;
      background-color: white;
    }

  }
}
.ajouterResponse{
  margin-top: 3rem;
  justify-content: center;
  margin-bottom: 0;
  display: none;

}


#formulaire{
  margin: 2rem auto 4rem;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  input,textarea{
    width: 100%;
    margin: 0.5rem auto 1rem;
    justify-content: center;
    padding: 0.7rem 1.5rem;
    resize: none;
    text-align: left;
    border-radius: 5px;
    border:2px solid grey;
  }
  label{
    text-align: left;
  }
  .error{
    color: red;
  }
  .bloc{
    margin-top: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }
  input[type='submit']{
    margin: 1rem auto;
    text-align: center;
    width: 30%;
    background-color: #44B9DA;
    border-color: #44B9DA;
    color: white;
    transition: all 0.3s;
  }
  input[type='submit']:hover{
    background-color: #FDE249;
    border-color: #FDE249;
  }
  textarea{
    height: 100px;
  }
}

#singleEnfant{
  margin: 2rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  h1{
    text-align: center;
  }
  .naissance{
    text-align: center;
  }
  .allergie,.alimentation{
    margin: 2rem auto;
    .bloc{
      margin-top: 0.5rem;
      padding: 1rem 1rem 3rem;
      background-color: lightgray;
      border-radius: 5px;
    }
  }
}
.actionSingle{
  ul{
    display: flex;
    justify-content: space-between;
    li{
      width: 100%;
      display: flex;
      a{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
        text-align: center;
        width: 97%;
        background-color: #44B9DA;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      a:hover{
        background-color: #FDE249;
      }
    }
    .sup{
      justify-content: right;
    }
  }
}


@media screen and (max-width: 700px){
  #listeEnfant{
    flex-direction: column;
    .enfant{
      width: 98%;
      margin: 1.5rem auto;
    }
  }
  .ajouter{
    display: none;
  }
  .ajouterResponse{
    display: flex;
  }
}

@media screen and (max-width: 500px){
  .actionSingle {
    ul {
      justify-content: center;
      flex-direction: column;

      li {
        width: 100%;
        display: block;
        margin: 1rem auto;
        a {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 450px){
  #formulaire{
    input[type='submit']{
      width: 60%;
    }
  }
}