.wrap2{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: lime;
}

.titreFamille{
  h1{
    text-align: center;
    margin-top: 2rem;
    border: 16px solid green;

  }
}

#listeFamille{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
  .newFamily{
    margin-top: 3rem;
    padding: 1rem;
    width: 48%;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    .name{
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .picto{
      ul{
        display: flex;
        justify-content: space-between;
        li{
          a{
            font-size: 2rem;
            color: black;
            transition: color .3s;
          }
          a:hover{
            color: yellow;
          }
        }
      }
    }
    .boutton{
      margin-top: 1rem;
      p{
        width: 100%;
        a{
          background-color: #4E5860;
          color: white;
          display: flex;
          justify-content: center;
          padding: 1rem 0;
          border-radius: 5px;
          transition: background-color .3s;
        }
        a:hover{
          background-color: rgba(78, 88, 96, .66);
        }
      }
    }
  }
}
.ajouter, .ajouterResponse{
  display: flex;
  justify-content: right;
  margin-bottom: 3rem;
  p{
    a{
      color: white;
      font-size: 2rem;
      padding: 1rem 1.3rem;
      border-radius: 50px;
      background-color: #4E5860;
      transition: all .5s;
      border: 4px solid #4E5860;
    }
    a:hover{
      color: #4E5860;
      background-color: white;
    }
  }
}
.ajouterResponse{
  margin-top: 3rem;
  justify-content: center;
  margin-bottom: 0;
  display: none;
}


#formulaire{
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  h3{
    text-align: center;
  }
  input, textarea{
    width: 100%;
    margin: .5rem auto 1rem;
    justify-content: center;
    padding: .7rem 1.5rem;
    resize: none;
    text-align: left;
    border-radius: 5px;
    border: 2px solid grey;
  }
  label{
    text-align: left;
  }
  .error{
    color: red;
  }
  .bloc{
    margin-top: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }
}

#singleFamille{
  margin: 2rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  h1{
    text-align: center;
  }
  .telephone{
    text-align: center;
    margin: 2rem auto;

  }
}
.actionSingle{
  ul{
    display: flex;
    justify-content: space-between;
  }
  li{
    width: 100%;
    display: flex;
  }
  a{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    text-align: center;
    width: 97%;
    background-color: #4E5860;
    color: white;
    border-radius: 5px;
    transition: background-color .3s;
  }
}