#accueil {
  background-color: #EAE6E0;

  .accueil_box {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .accueil_text {
      width: 49%;
      p{
        font-size: 1.1rem;
      }
      p, h1 {
        text-align: center;

      }

      span {
        color: #7dc7fc;
      }

      h1 {
        padding-bottom: 1rem;
        font-size: 3.5rem;
        text-align: left;
        color: #0c343d;
      }

      a {
        padding: 1rem;
        display: flex;
        justify-content: center;
      }
    }

    .accueil_img {
      width: 37%;

      img {
        width: 370px;
      }
    }

    .accueil_button {
      background: #d9d6d2;
      color: black;
      font-family: inherit;
      padding: 0.35em;
      padding-left: 1.2em;
      font-size: 17px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3.3em;
      cursor: pointer;

      .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 0.7em;
        right: 0.3em;
        transition: all 0.3s;

        svg {
          width: 1.1em;
          transition: transform 0.3s;
          color: #d9d6d2;
        }
      }

      &:hover {
        .icon {
          width: calc(100% - 0.6em);

          svg {
            transform: translateX(0.1em);
          }
        }
      }

      &:active {
        .icon {
          transform: scale(0.95);
        }
      }
    }
  }
}

#information {
  .button_info {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 3rem;
    gap: 5rem;
  }
  .info {
    display: flex;
    align-items: center;

    .info_img {
      width: 49%;

      img {
        width: 450px;
      }

      h1 {
        padding-bottom: .5rem;
      }
    }

    .info_text {
      width: 49%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.text_one, .text_two, .text_three {
  display: flex;
  gap: 2rem;

  h3 {
    padding-bottom: .5rem;
  }
}

.icone {
  background-color: #EAE6E0;
  border-radius: 10px;
}

.button_info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flexx {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.buttonn {
  border: 2px solid #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

.buttonn img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}


.buttonn:hover {
  border-color: #7dc7fc;
  transition: border-color 0.3s ease;
}





.button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #7dc7fc;
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.button:hover {
  background-color: #44B9DA;
  transition-duration: .5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

.icone {
  font-size: 25px;
  background-color: #EAE6E0;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap2 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.titre{
  h1,h2{
    text-align: center;
    margin-top: 5rem;
  }
}
#formulaire{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  input,textarea,select{
    width: 100%;
    margin: 0.5rem auto 1rem;
    justify-content: center;
    padding: 0.7rem 1.5rem;
    resize: none;
    text-align: left;
    border-radius: 5px;
    border:2px solid grey;
  }
  label{
    text-align: left;
  }
  .error{
    color: red;
  }
  .bloc{
    margin-top: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    .selectRole{
      display: flex;
      flex-direction: column;
    }
  }
  input[type='submit']{
    margin: 1rem auto;
    text-align: center;
    width: 30%;
    background-color: #44B9DA;
    border-color: #44B9DA;
    color: black;
    transition: all 0.3s;
  }
  input[type='submit']:hover{
    background-color: #FDE249;
    border-color: #FDE249;
  }
  textarea{
    height: 100px;
  }
}
@media screen and (max-width: 450px){
  #formulaire{
    input[type='submit']{
      width: 60%;
    }
  }
}

@media screen and (max-width: 375px) {
  .logo_box p {
    font-size: 2rem;
  }
  #masthead .button_box ul {
    gap: 1rem;
  }
  .header_button {

    background-color: #7dc7fc;
    width: 70px;
    height: 40px;
    font-size: 1rem;
  }
  .header_button2 {

    width: 70px;
    height: 40px;
    font-size: 1rem;
  }
  .logo_box img {
    width: 50px;
  }
  #accueil .accueil_box .accueil_img img {
    display: none;
  }
  #accueil .accueil_box .accueil_text {
    width: 100%;
  }
  #accueil .accueil_box {
    display: block;
  }
  #accueil .accueil_box .accueil_text h1 {
    text-align: center;
  }

  #information .info .info_img img {
    display: none;
  }
  #information .info .info_img {
    width: 0;
  }
  .info_text h2 {
    text-align: center;
    margin: 2rem auto;
  }
  #information .info .info_text {
    width: 100%;

  }
}

