#gardes{
  margin-bottom: 2rem;
  .reserv{
    .date{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      .trg{
        background-color: #FDE249;
        height: 2px;
        width: 10%;
      }
      span{
        width: 25%;
        text-align: center;
      }
      .trd{
        width: 60%;
        background-color: #FDE249;
        height: 2px;
      }
    }
    .bloc{
      padding: 1rem;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      .separator{
        background-color: #44B9DA;
        height: 2px;
        margin: 1rem auto;
        width: 50%;
      }
      .infop, .infor{
        display: flex;
        justify-content: center;
        gap:3rem;
      }
      .infoe{
        text-align: center;
        .infosup{
          margin-top: 1rem;
          display: flex;
          justify-content: space-between;
          text-align: left;
          .allergie, .alimentation{
            width: 48%;
            .grey{
              margin-top: 0.5rem;
              padding: 1rem 1rem 3rem;
              background-color: lightgray;
              border-radius: 5px;
              height: 70%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  #gardes{
    .reserv{
      .date{
        .trg{
          height: 2px;
          width: 22%;
        }
        span{
          width: 50%;
        }
        .trd{
          width: 22%;
          height: 2px;
        }
      }
      .bloc{
        .infoe{
          .infosup{
            flex-direction: column;
            .allergie, .alimentation {
              width: 95%;
              margin: 0 auto 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 470px){
  #gardes {
    .reserv {
      .date {
        .trg {
          height: 2px;
          width: 12%;
        }

        span {
          width: 70%;
        }

        .trd {
          width: 12%;
          height: 2px;
        }
      }
    }
  }
}
@media screen and (max-width: 470px){
  #gardes {
    .reserv {
      .date {
        .trg {
          display: none;
        }

        span {
          width: 100%;
        }

        .trd {
          display: none;
        }
      }
      .bloc{
        .infop{
          flex-direction: column;
          text-align: center;
        }
        .infor{
          padding-bottom: 4rem;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}
.checkbox{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .one_checkbox{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: left;
    label{
      width: 200px;
    }
    input[type='checkbox']{
      width: 10%;
    }
  }
}