:root {
    --violet: #4E5860;
    --bleuciel: #7E9ABF;
    --taupe: #A67153;
    --marron: #A67C49;
    --clair: #C1C9D9;
    --blanc: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}


@font-face {
    font-family: 'Plant';
    src: url('../../../public/asset/font/Plant.ttf') format('truetype');
}

@font-face {
    font-family: 'attache';
    src: url('../../../public/asset/font/attache.ttf') format('truetype');
}

ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #FCFBFE;
}

.wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapListing{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.container {
    min-height: calc(100vh - 220px);
}
img {
    width: 100%;
}


.container1 {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container1 h1 {
    color: #FDE249;
    margin-bottom: 20px;
}
.container1 p {
    margin-bottom: 30px;
}
.container1 a {
    display: inline-block;
    background-color: #FDE249;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.container1 a:hover {
    background-color: #44B9DA;
}

.gogo p {
    font-family: 'Plant';
    font-size: 3rem;
}

.navigationes {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;

}
.navigationes ul {
    display: flex;
    gap: 15px;
    justify-items: center;
    align-items: center;
}
.navigationes ul li{
    border-bottom:1px solid #FCFBFE;
    transition: all 0.3s;
}
.navigationes ul li:hover{
    border-bottom:1px solid black;
}
.logogo {
    width: 10vh;
}
.gogo {
    display: flex;
}
#mini-bar {
    display: none;
}

.appointments-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    scroll-behavior: inherit;
}

.appointments-container::-webkit-scrollbar { width: 0 !important }


.appointment-card {
    flex: 0 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
}

.appointment-header {
    background-color: #44B9DA;
    color: white;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.appointment-info {
    padding: 8px;
    display: flex;
    align-items: center;
}

.appointment-footer {
    padding: 8px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-pic {
    border-radius: 70%;
    margin-right: 8px;
    width: 50px;
}
.infos {
    width: 41%
}
.love h3 {
    font-weight: normal;
    font-family: 'attache';
    font-size: 1.4rem;

}

.love h1 {
    margin-bottom: .2rem;
}
.love {
    width: 47%;

}
.index{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.button {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #FDE249;
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
}

.bell path {
    fill: rgb(19, 19, 19);
}

.button:hover {
    background-color: #44B9DA;
    transition-duration: .5s;
}

.button:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
}


.card {
    font-family: 'Arial', sans-serif;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card-image-container {
    background-color: #FDE249;
    padding: 20px;
    position: relative;
}

#colophon {
    background-color: var(--violet);
    color: var(--blanc);
    padding: 1rem 0;
    text-align: center;
    clip-path: ellipse(70% 60% at 50% 20%);
}

.card-image {
    width: 100px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #fff;
    position: relative;
    top: 50px;
    transform: translateY(-30%);
}

.card-content {
    padding: 20px;
    text-align: center;
    color: #333;
}

.card-content h2 {
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    text-decoration: none;
    background-color: #FDE249;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #003d99;
}

.card {
    display: none;
}



.card2 {
    font-family: 'Arial', sans-serif;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.card-image-container2 {
    background-color: #44B9DA;
    padding: 20px;
    position: relative;
    text-align: center;
    clip-path: ellipse(70% 60% at 50% 20%);
}

.card-image2 {
    width: 100px;
    height: auto;
    border-radius: 20%;
    border: 3px solid #fff;
    position: relative;
    top: 50px;
    transform: translateY(-30%);
}

.card-content2 {
    padding: 20px;
    text-align: center;
    color: #333;
}

.card-content2 h2 {
    margin-bottom: 10px;
}

.card-content2 p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card-button2 {
    display: inline-block;
    text-decoration: none;
    background-color: #44B9DA;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.res
{
    text-align: left;
    margin-left: 1rem;
    font-size: .8rem;
}

.card-button2:hover {
    background-color: #003d99;
}

.card2 {
    display: none;
}

#proProfil{
    text-align: center;
    padding: 3rem 0;
    h2{font-size: 2rem;margin-bottom: 1rem;}
    h3{margin-bottom: 1Rem;}
    .wrapform{
        form{
            width: 320px;
            margin: 0 auto;
            text-align: left;
            input[type=text], input[type=number]{
                width: 100%;
                padding: .5rem 1rem;
                border-radius: .5rem;
                border: black 1px solid;
                margin-bottom: .5rem;
            }
            .checkbox{
                display: flex;
                justify-content: space-around;
                flex-flow: row wrap;
                margin-bottom: 1rem;
            }
            .one_checkbox{
                width: 48%;
                display: flex;
                justify-content: space-around;
            }
            input[type=file]{
                display: none;
            }
            .lienAjout{
                font-size: 1.2rem;
                color: black;
            }
            .divAffichage{
                img, embed{
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .appointments-container {
        flex-wrap: nowrap;
        gap: 8px;
    }
    .card {
        display: block;

    }
    .card2{
        display: block;
    }

    .appointment-card {
        width: calc(100% - 32px);
    }
}

@media screen and (max-width: 822px){
    .infos {
        display: none;
    }
    .index {
        padding: 2rem;
    }
    .love {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .love h1 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #masthead-par {
        display: none;
    }
    #mini-bar {
        display: block;
    }
    .mini {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        -webkit-box-shadow: 0px -5px 16px -2px rgba(0,0,0,0.13);
        box-shadow: 0px -5px 16px -2px rgba(0,0,0,0.13);
        z-index: 50;
        background-color: white;
    }

    .dash {
        width: 9%;
        border-top: solid white 2px;
    }
    .dash:hover {
        border-top: solid blue 2px;
    }
    .imgo {

    }
    .alert {
        width: 2vh;
        position: absolute;
        top: 4px;
        right: 6px;
        background-color: white;
        border-radius: 5px;
        display: none;
    }
    .desc{
        font-size: .4rem;
        font-weight: bolder;
        display: flex;
        justify-content: center;
    }
    .love h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .love h1 {
        font-size: 1.5rem;
    }
}
#gardes{
    margin-bottom: 2rem;
    .reserv{
        .date{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            .trg{
                background-color: #FDE249;
                height: 2px;
                width: 10%;
            }
            span{
                width: 25%;
                text-align: center;
            }
            .trd{
                width: 60%;
                background-color: #FDE249;
                height: 2px;
            }
        }
        .bloc{
            padding: 1rem;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
            border-radius: 10px;
            .separator{
                background-color: #44B9DA;
                height: 2px;
                margin: 1rem auto;
                width: 50%;
            }
            .infop, .infor{
                display: flex;
                justify-content: center;
                gap:3rem;
            }
            .infoe{
                text-align: center;
                .single{
                    margin: 1rem auto;
                    a {
                        background-color: #44B9DA;
                        color: white;
                        display: flex;
                        justify-content: center;
                        padding: 1rem 0;
                        border-radius: 5px;
                        width: 20%;
                        margin: 0 auto;
                        transition: background-color 0.3s;
                    }
                    a:hover{
                        background-color: #FDE249;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    #gardes{
        .reserv{
            .date{
                .trg{
                    height: 2px;
                    width: 22%;
                }
                span{
                    width: 50%;
                }
                .trd{
                    width: 22%;
                    height: 2px;
                }
            }
        }
    }
}
@media screen and (max-width: 470px){
    #gardes {
        .reserv {
            .date {
                .trg {
                    display: none;
                }

                span {
                    width: 100%;
                }

                .trd {
                    display: none;
                }
            }
            .bloc{
                .infop{
                    flex-direction: column;
                    text-align: center;
                }
                .infor{
                    padding-bottom: 4rem;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}





