* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}

.error{
  color: red;
}

.wrap1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrap{
  #formulaireReservation {
    margin: 1rem auto;
    input[type='submit']{
      padding: 0.5rem 1rem;
      margin: 1rem auto;
      text-align: center;
      width: 30%;
      background-color: #44B9DA;
      border-radius: 5px;
      border: none;
      color: white;
      transition: all 0.3s;
    }
    input[type='submit']:hover{
      background-color: #FDE249;
    }
    text-align: right;
    .titrer {
      padding: 1rem 1rem 0;
      text-align: left;
    }
    .select{
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      padding: 1rem;
      margin: 1rem auto;
      text-align: left;
      select{
        padding: 0.5rem 1rem;
        width: 30%;
      }
    }
    .planning {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      border-radius: 10px;
      padding: 1rem;
      margin: 1rem auto;

      .flex {
        display: flex;
        justify-content: space-between;
        position: relative;

        .colonne {
          align-items: center;
          .date{
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          .horaire {
            .heure {
              margin: 1rem auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0.5rem 1rem;
              background-color: lightgray;
              border-radius: 5px;
              transition: all 0.3s;
            }

            .heure:hover {
              background-color: #44B9DA;
              color: white;
            }
          }
        }
      }
    }
  }
}

#confirmation{
  margin: 2rem auto;
  .infoNounou{
    padding: 1rem 0;
    .info{
      display: flex;
      gap: 2rem;
      padding-top: 0.5rem ;
      color: #4E5860;
    }
  }
  .infoReservation, .infoTarif{
    padding: 1rem 0;
    h3{
      padding: 0.5rem 1rem;
    }
    .bloc{
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        padding: 0.5rem;
      }
      .action{
        a{
          padding: 0.5rem 1.5rem;
          background-color: #44B9DA;
          color: white;
          border-radius: 5px;
          transition: background-color 0.3s;
        }
        a:hover{
          background-color: #FDE249;
        }
      }
    }
  }
  .boutton{
    padding: 2rem 0;
    ul{
      display: flex;
      justify-content: space-between;
      li{
        width: 100%;
        display: flex;
        a, input[type='submit']{
          display: flex;
          border: none;
          justify-content: center ;
          padding: 1rem 0;
          text-align: center;
          width: 80%;
          background-color: #44B9DA;
          color: white;
          border-radius: 5px;
          transition: background-color 0.3s;
        }
        input[type='submit']:hover ,a:hover{
          background-color: #FDE249;
        }
      }
      .confirme{
          justify-content: right;
      }
    }
  }
}
.response {
  display: none;
  .dropdown {
    margin: 1.5rem auto;
    width: 100%;
    height: 63px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    background-color: white;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    .bloc-top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;
      background-color: white;
      color: black;
      border-radius: 5px;
      border: none;
    }

    .horaire {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;

      .heure {
        width: 100px;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: lightgray;
        border-radius: 5px;
        transition: all 0.3s;
      }

      .heure:hover {
        background-color: #44B9DA;
        color: white;
      }
    }
  }
}

#planningNounou{
  .planning{
    margin-top: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    display: flex;
    align-items: center;
    ul{
      width: 50%;
      li{
        padding: 1rem;
        list-style: inside;
      }
    }
    .image{
      width: 50%;
    }
  }
  .modifPlanning{
    display: flex;
    justify-content: right;
    margin: 2rem 0;
    a{
      padding: 0.5rem 1.5rem;
      background-color: #44B9DA;
      color: white;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    a:hover{
      background-color: #FDE249;
    }
  }
  .addPlanning{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    a{
      padding: 0.5rem 1.5rem;
      background-color: #44B9DA;
      color: white;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    a:hover{
      background-color: #FDE249;
    }
  }
}



.infoPrincipal {
  display: flex;
  gap: 20px;
  margin-bottom: 3rem;
  border-bottom: solid 2px rgba(128, 128, 128, 0.06);
}
.inform {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.imgoo {
  width: 150px;
}
.imgoo img {
  border-radius: 50%;
}

.ville{
  display: flex;
  gap: 5px;
  margin-bottom: .5rem;
}
.ville img {
  width: 20px;
}

.nom {
  margin-bottom: 10px;
}
.comp {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}


.comp {
  p {
    gap: 4px;
    transition: all 0.3s ease-in-out;
    padding-block: 0.1rem;
    padding-inline: 1rem;
    border-radius: 9999px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    font-size: .8rem;

    @for $i from 1 through 7 {
      &:nth-child(7n+#{$i}) {
        $colors: (rgb(0, 107, 179), rgb(179, 0, 107), rgb(107, 179, 0), rgb(179, 107, 0), rgb(107, 0, 179), rgb(0, 179, 107), rgb(0, 107, 179));
        background-color: nth($colors, $i);
      }
    }
  }
}

.comp p:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.adr img {
  width: 4vh;

}
.adr img:nth-child(3){
  position: relative;
}
.adr {
  display: flex;
  gap: 5px;
  align-items: center;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left:solid 2px rgba(128, 128, 128, 0.06) ;
  padding: 1rem;
}
img#infp {
  width: 14px;
  background-color: black;
  border-radius: 20px;
}
img#infp:hover {
  background-color: #232323;
}

#listingPro {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.wrapListing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.onePro {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
}

.onePro:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.img {
  flex-shrink: 0;
}

.img img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
}

.infosPro {
  flex-grow: 1;
  padding: 10px;
}

.infosPro h1 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.infosPro .role {
  font-size: 0.9em;
  color: #666;
}

.infosPro .present {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
}



.content-bottom {
  display: flex;
  .content {
    padding: 1rem;
  }
}

#popup {
  position: absolute;
  top: 410px;
  right: 170px;
  width: 200px;
  background: white;
  color: black;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

@media screen and (max-width: 750px){
  .wrap{
    #formulaireReservation{
      .select{
        select{
          width: 60%;
        }
      }
      .planning{
        .flex{
          display: none;
        }
        .response{
          display: block;
        }
      }
    }
  }
  .content-bottom {
    flex-direction: column;
    .bottom-right {
      order: -1;
      display: flex;
      flex-flow: row wrap;
      border-left:solid 2px rgba(128, 128, 128, 0.06) ;
      padding: 1rem;
      .adr{
        width: 30%;
        padding: .5rem 0;
      }
    }
  }
}

@media screen and (max-width: 745px) {
  .content-bottom {
    .bottom-right {
      .adr{
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .infoPrincipal{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0;
  }
}

@media screen and (max-width: 425px) {
  .content-bottom {
    .bottom-right {
      font-size: .8rem;
      display: flex;
      flex-direction: column;
      .adr{
        width: 100%;
      }
    }
    .content{
      font-size: .8rem;
    }
  }
  .imgoo {
    width: 150px;
    margin: .5rem auto;
  }
  .infoPrincipal {
    text-align: center;
        .role{
          margin: 0 auto;
        }
  }
  .comp {
    margin: .5rem auto;
  }
}
.titru{
  text-align: center;
  margin: 1rem;
}

#formulaire12{
  margin: 2rem auto;
  display: flex;
  justify-content: center;

  h1{
    text-align: center;
  }
  input,textarea{

    padding: 0.7rem 1.5rem;
    display: flex;

    text-align: left;
    border-radius: 5px;
    border:2px solid grey;
    margin-right: 15px;
  }
  label{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .error{
    color: red;
  }
  .bloc{

    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
  }
  input[type='submit']{

    background-color: #44B9DA;
    border-color: #44B9DA;
    color: white;
    transition: all 0.3s;
  }
  input[type='submit']:hover{
    background-color: #FDE249;
    border-color: #FDE249;
  }
  textarea{
    height: 40px;
  }
}